package javaapplication184;
import java.util.Scanner;
public class JavaApplication184 {
public static void main(String[] args) {
        Scanner klavye=new Scanner(System.in);
        System.out.println("NİCKNAME giriniz");
        String nick=klavye.nextLine();
        
        int nickuzunluk=nick.length();
        while(nickuzunluk%5!=0)
        {
            nick=nick+"4";
            nickuzunluk=nick.length();
        }
        int nickparcauzunluk=nick.length()/4;
        int nickbosluksayisi=nickparcauzunluk-2;
        String nickbosluk="";
        
        while(nickbosluk.length()<nickbosluksayisi)
                {
                    String nickparca1=nick.substring(0,nickparcauzunluk);
                    String nickparca2=nick.substring(nickparcauzunluk,2*nickparcauzunluk);
                    String nickparca3=nick.substring(2*nickparcauzunluk,3*nickparcauzunluk);
                    String nickparca4=nick.substring(3*nickparcauzunluk,4*nickparcauzunluk);
                    
                    System.out.println(nickparca1);
                    int i=0;
                    while(i<nickparcauzunluk);
                    {
                        int j=nickparcauzunluk-1-i;
                        System.out.println(nickparca2.substring(i,i+1)+nickbosluk+nickparca4.substring(j,j+1));
                        i=i+1;
                        
                    }
                    System.out.println(nickparca3);
                    System.out.println("");
                    System.out.println("---------------------");
                    System.out.println("");
                }
        
        
        
    }
    
}
